.secrets
compose/.secrets
test
.DS_Store
kubernetes/.secrets
ubuntu/terraform/.terraform
ubuntu/terraform/.terraform.lock.hcl
ubuntu/terraform/terraform.tfstate*
sql-app/.venv
oracle-app/.venv
scripts/.venv
compose/vault-plugin-database*
scripts/vaultTest.py
sql-app/__pycache__
ubuntu/terraform/*.csr
ubuntu/terraform/*.pem
ubuntu/terraform/*.crt
sql-app/test